FYERS_CLIENT_ID=NL8DFIZ4AG-100
FYERS_SECRET_KEY=27EITRP380
FYERS_REDIRECT_URI=https://www.google.com
FYERS_FY_ID=NL8DFIZ4AG
FYERS_PIN=1402
FYERS_TOTP_KEY=

SUPABASE_URL=https://gzwqwsblrgphjfnowdik.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6d3F3c2JscmdwaGpmbm93ZGlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg0MzQ4NSwiZXhwIjoyMDk5NDE5NDg1fQ.FeJ9m2Dx7WKGG1rV1CWvJDGGOTVtfREjowXy6FY-hIU
SUPABASE_JWT_SECRET=AtxNUqJQXL2ry53+cdHtEqZ+x7Zo3Y3ppwYGKu33zWYp8OBtD75k6VACRj/NAiIwLYQ/itCKRvqavAuOvDz85A==

ALLOWED_ORIGINS=*
